body {
    font-family: "roboto", sans-serif;
    margin: 0;
}

.wrapper {
    max-inline-size: 1000px;
    margin-inline: auto;
}


header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 5px 10px
}
header .wrapper {
    display: flex;
}
.logo {
    font-size: 24px;
}

.header-links {
    flex-grow: 1;
}

.header-links ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    gap: 70px;
    list-style-type: none;
}

.header-links ul a {
    text-decoration-line: none;
    color: #f9faf8;
}

.hero-page {
    background-color: #1f2937;
    color: #f9faf8;
    height: 450px;
}

.hero-page .wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.hero-info h1 {
    margin: 0;
    font-size: 48px;
}

.hero-info p, button {
    font-size: 18px;
}

.hero-info button {
    border-radius: 12px;
    padding: 3px 20px;
}

.hero-image {
    height: 250px;
    display: flex;
    align-items: center;
}

.hero-image img {
    display: block;
    width: 85%;
    height: auto;
    object-fit: contain;
}

.order-section h1 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.order-section {
    height: 450px;
}

.order-section .wrapper .steps {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
}

.step-one {
    width: 220px;
    text-align: center;
    font-size: 18px;
}

.step-one.image {
    width: 200px;
    height: 200px;
}

.step-one.image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 7px solid #1f2937;
    border-radius: 25px;
}

.step-two {
    width: 220px;
    text-align: center;
    font-size: 18px;
}

.step-two.image {
    width: 200px;
    height: 200px;
}

.step-two.image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 7px solid #1f2937;
    border-radius: 25px;
}

.step-three {
    width: 220px;
    text-align: center;
    font-size: 18px;
}

.step-three.image {
    width: 200px;
    height: 200px;
}

.step-three.image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 7px solid #1f2937;
    border-radius: 25px;
}

.step-four {
    width: 220px;
    text-align: center;
    font-size: 18px;
}

.step-four.image {
    width: 200px;
    height: 200px;
}

.step-four.image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 7px solid #1f2937;
    border-radius: 25px;
}

